@model EVM.Models.Sponsor
@{
    ViewBag.Title = "Edit " + Model.Name + " details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewBag.Title</h4>
                <p class="category"></p>
            </div>
            <div class="content">
                @using (Html.BeginForm("Edit", "Sponsors", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr/>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.SponsorId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.Label("Wallpaper", htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-7">
                                    <input id="photo" type="file" name="photo" class="form-control" required/>
                                </div>
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">

                                Active: @Html.RadioButtonFor(x => x.Status, "Active") &nbsp;&nbsp;&nbsp;&nbsp;
                                Archived: @Html.RadioButtonFor(x => x.Status, "Archived")&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-info"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>