<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Admincss")

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>*@
    <style type="text/css">
        #wrapper {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            #wrapper.toggled {
                padding-left: 250px;
            }

        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 250px;
            width: 0;
            top: 0;
            height: 100%;
            margin-left: -250px;
            overflow-y: auto;
            background: #000000;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            border-right: 1px groove #e7fa45;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 180px;
        }

        #page-content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
            margin-left: -20px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: 0;
        }

        /* Sidebar Styles */

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 150px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sidebar-nav li {
                text-indent: 20px;
                line-height: 40px;
            }

                .sidebar-nav li a {
                    display: block;
                    text-decoration: none;
                    color: #999999;
                    /*margin-left: -10px;*/
                }

                    .sidebar-nav li a:hover {
                        text-decoration: none;
                        color: #fff;
                        background: rgba(255,255,255,0.2);
                    }

                    .sidebar-nav li a:active,
                    .sidebar-nav li a:focus {
                        text-decoration: none;
                    }

            .sidebar-nav > .sidebar-brand {
                height: 65px;
                font-size: 18px;
                line-height: 60px;
            }

                .sidebar-nav > .sidebar-brand a {
                    color: #999999;
                }

                    .sidebar-nav > .sidebar-brand a:hover {
                        color: #fff;
                        background: none;
                    }

        #menu-toggle {
            margin-top: -60px;
            margin-left: 1px;
        }

        @@media(min-width:768px) {
            #wrapper {
                padding-left: 250px;
            }

                #wrapper.toggled {
                    padding-left: 0;
                }

            #sidebar-wrapper {
                width: 157px;
            }

            #wrapper.toggled #sidebar-wrapper {
                width: 0;
            }

            #page-content-wrapper {
                padding: 20px;
                position: relative;
                margin-left: -70px;
            }

            #wrapper.toggled #page-content-wrapper {
                position: relative;
                /*margin-right: 0;*/
                margin-left: 0;
            }

            #menu-toggle {
                margin-top: -60px;
                margin-left: 1px;
            }
        }

        .container-fluid {
            background-color: #ffffff;
        }


        .footer-bottom {
            border-top: 1px solid #DDDDDD;
            position: relative;
            bottom: 0;
            z-index: 1030;
        }

        .footerContainer {
            background-color: #E3E3E3 !important;
            color:#e7fa45;
        }

        .footer-bottom p.pull-left {
            /*padding-top: 6px;*/
        }

        .payments {
            font-size: 15px;
        }

        .border {
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="@Url.Action("Index","Home")">
                        LeEvent
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")"><span class="fa-2x glyphicon glyphicon-home"> Home</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Events","Home")"><span class="fa fa-2x fa-users"> Events</span></a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-info glyphicon glyphicon-chevron-left" id="menu-toggle"></a>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12 container-fluid">

                        @*<h1>Simple Sidebar</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>*@

                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div class="footer-bottom col-md-12">
            <div class="footerContainer">
                <p class="pull-left"> Copyright © Le Event 2016. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="@Url.Action("Login","Account")">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('body').css('display', 'none');
            $('body').fadeIn(500);

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
                if ($('#wrapper').hasClass('toggled')) {

                    $('#menu-toggle').removeClass().fadeIn(500).addClass('btn btn-warning glyphicon glyphicon-chevron-right');
                }
                else {
                    $('#menu-toggle').removeClass().fadeIn(500).addClass('btn btn-info glyphicon glyphicon-chevron-left');
                }
            });

        });
    </script>
</body>
</html>